<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Selection Set To Definition Query</Name><AddInID>{6be655a2-f66a-4ca3-a249-dc88f51e581f}</AddInID><Description>Converted selected features to definition query</Description><Version>0.1</Version><Image>Images\0345-make-group.png</Image><Author>Untitled</Author><Company /><Date>01/28/2015</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Selection_Set_To_Definition_Query_addin.py" namespace="Selection_Set_To_Definition_Query_addin"><ArcMap>
    <Commands>
        <Button caption="Apply Def Query" category="Selection Set To Definition Query" class="select_to_defQuery" id="Selection_Set_To_Definition_Query_addin.select_to_defQuery" image="Images\0348-filter.png" message="Apply Def Query" tip="Apply Def Query"><Help heading="Apply Def Query">Apply Def Query</Help></Button>
        <ComboBox caption="Layer List" category="Selection Set To Definition Query" class="layer_list" id="Selection_Set_To_Definition_Query_addin.layer_list" itemSizeString="WWWWWW" message="Layer List" rows="4" sizeString="WWWWWW" tip="Layer List"><Help heading="Layer List">Layer List</Help></ComboBox>
        <Button caption="Remove Def Query" category="Selection Set To Definition Query" class="remove_defQuery" id="Selection_Set_To_Definition_Query_addin.remove_defQuery" image="Images\0348-No_filter2.png" message="Remove Def Query" tip="Remove Def Query"><Help heading="Remove Def Query">Remove Def Query</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Selection To Def Query" category="Selection Set To Definition Query" id="Selection_Set_To_Definition_Query_addin.toolbar" showInitially="true"><Items><Button refID="Selection_Set_To_Definition_Query_addin.select_to_defQuery" /><ComboBox refID="Selection_Set_To_Definition_Query_addin.layer_list" /><Button refID="Selection_Set_To_Definition_Query_addin.remove_defQuery" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>